Photoshop clone

Basic requirements:
    Similar ui ✅

    Open images ✅

    Insert images 😭
    
    Layers
        add layer ✅
        reposition layer ✅
        delete layer

    Basic tools
        Move tool ✅
        Brush tool ✅
        Eraser tool ✅
        Hand tool 😭
        Eyedropper tool
        Selection tool 😭
        Text tool

    Basic image manipulation 😭
        Rotate
        Resize

    Export options
    
Extra features:
    Adjustment tools for images

    Dodge tool
    Burrn tool
    Blur tool

    Basic image manipulation:
        Blur

    layer
        enable/disable