Photoshop clone

Basic requirements:
    Similar ui ✅

    Open images ✅

    Insert images 😭
    
    Layers
        add layer ✅
        reposition layer ✅
        delete layer 🙌 have general idea of how to do this

    Basic tools
        Move tool ✅
        Brush tool ✅
        Eraser tool ✅
        Selection tool ✅
        Text tool 🐾 similar to how i can insert images, aaile samma chai how im thinking, lets seeee
        Eyedropper tool
        Hand tool 😭

    Basic image manipulation 😭
        Rotate
        Resize

    Export options
    
Extra features:
    Adjustment tools for images

    Dodge tool
    Burrn tool
    Blur tool

    Basic image manipulation:
        Blur

    layer
        enable/disable